body {
  background: hsl(30, 38%, 92%);
}

main {
  margin: auto;
  width: 600px;
  height: 450px;
}

p {
  font-size: 14px;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
